@import url('https://fonts.googleapis.com/css?family=Karla:400,700');


body{

    background-color: #303030;
    margin:0;
    margin-top: 0;
}
#navbar {
    display: flex;
    align-items: center;
}
ul{
    width:100%;
    height: 40px;
    background-color: #303030;
    
    margin: 0;
    padding-left: 0;
    padding-top: 15px;

   
    }

li{

    display: inline;
    list-style-type:none ;
    margin:  20px;
    color:#fff;
    font-family:karla;
    font-size: larger;
    font-weight:500;
    cursor: pointer;
    
    position: relative;
}

li:hover{
    
    color:#d84747
    
}
li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #d84747;
    transition: width 0.5s ease-in-out;
}

li:hover::after {
    width: 100%;
}



#bg{
    object-fit: fill;
    width:100%;
    border: solid #fff;
    filter: blur(3px);
    z-index: -1;
    position: absolute;
}

#logo{  
    width: 150px;
    height: 80px;
  

}

.para{
    position: relative;
    z-index: 1;
}