@import url('https://fonts.googleapis.com/css?family=Karla:400,700');


body{

    background-color: #303030;
    margin:0;
    margin-top: 0;
}

#navbar {
    display: flex;
    align-items: center;
}
#navbar ul{
    
    width:100%;
    height: 40px;
    background-color: #303030;
    
    margin: 0;
    padding-left: 0;
    padding-top: 15px;

   
    }

 #navbar li{

    display: inline;
    list-style-type:none ;
    margin:  20px;
    color:#fff;
    font-family:karla;
    font-size: larger;
    font-weight:500;
    cursor: pointer;
    
    position: relative;
}


li:hover{
    
    color:#d84747
    
}
li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #d84747;
    transition: width 0.5s ease-in-out;
}

li:hover::after {
    width: 100%;
}

a {

    text-decoration: none;
    color:#fff;

}



#logo{  
    width: 150px;
    height: 80px;
  

}

.para{
    position: relative;
    z-index: 1;
}

#avion{

    height: 900px;
    width: 100%
}

#titre{

    font-family:karla;
    font-size: 50px;
    margin-top: 200px;
    margin-bottom: 10px;
    

}

#date{

    font-family: karla;
    font-size: 25px;
    font-style: italic;
}

.paragraphe1 {
    position: relative;
    width: 100%;
  }
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
    color: #fff; /* Couleur du texte */
    box-sizing: border-box; /* Inclure les bordures et le padding dans la taille totale */
    text-align: center;
}

#navpres ul {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-top: 0;

}

#navpress ul{

    width:100%;
    height: 40px;
    background-color: #fff;
    margin: 0;
    padding-left: 0;
    padding-top: 15px;
    }

#navpres li{



    display: inline;
    list-style-type:none ;
    margin:  20px;
    color:black;
    font-family:karla;
    font-size: larger;
    font-weight:500;
    cursor: pointer;
    position: relative;
   
}

#navpres a {

    color:black;
}

.paragraphe3{

    background-color: #fff;
    font-family: karla;


}

#expo{

    font-weight: bold;
    font-size: 30px;

}

.partie{

    padding-top: 30px;
    padding-left:60px;
    padding-bottom:100px;
}

.date{

    font-size: 20px;
    font-weight: bold;
}


.footer{

    padding-top: 80px;
    padding-bottom: 80px;
}
#lstfoot li {


    display: inline;
    list-style-type:none ;
    font-family:karla;
    font-size: 15px;
    padding-left: 20px;

}



